.stat-content-card {
  position: relative;
  font-family: 'Shrikhand', cursive;
  font-family: 'Bangers', cursive;
  font-family: 'Shojumaru', cursive;
  width: 30%; // will be taken out when the parent component is ready
  height: 400px;  // will be taken out when the parent component is ready
  & > img {
    width: 100%;
    height: 100%;
  }

  &-info {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    color: #FFF;
  }
  
  &-info p + p {
    font-size: 3em;
    margin: 0;
  }
}

