body {
    background-color: #EEEEEE;
    // background-image: url('/smite.png')
}

.main {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;

    .header {
        width: 100%;
        height: 150px;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        background-color: #3498db;
    }

    .nav {
        display: flex;
        justify-content: center;
        flex-direction: row;
        height: 40px;
        background-color: #aaaaaa;

        &-item {
            padding: .5em 1em;
            text-transform: uppercase;
            a {
                color: #111111;

                &:hover {
                    color: #ffffff;
                }
            }

        }
    }

    h1 {
        font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
        font-size: 3em;
        font-weight: bold;
        font-style: normal;
        line-height: 1.2;
        margin: auto;
    }

    .home {

        &-content {
            &-table {
                width: 100%;
                display: flex;
                justify-content: center;
                margin: 1.5em;
            }
        }

        h1 {
            font-size: 1.5em;
            font-weight: bold;
        }
        h2 {
            font-size: 1em;
        }
    }

    .container {
        margin: auto;
        // @media screen and (min-width: 600px) {
        //     width: 100%;
        // }

        &-row {
            width: 100%;
            display: flex;
            align-items: center;
            margin: 20px auto;

            .stat-controller {
                display: flex;
                flex-direction: column;
                select {
                    height: 30px;
                }

                &-selector {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }
            }
        }
    }
}

.btn {
    background:#3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin: 10px;
  }

  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
