.stat-content-card {
  position: relative;
  width: 30%; // will be taken out when the parent component is ready
  height: 400px;  // will be taken out when the parent component is ready
  & > img {
    width: 100%;
    height: 100%;
  }

  &-info {
    position: absolute;
    left: 0;
    top: 60%;
    width: 100%;
    color: #FFF;
  }
}